!.settings/
!org/.*class
!target/.*class
!META-INF/maven/.*class
!org/apache/.*class
!META-INF/maven/org.apache.commons/.*class
!org/apache/commons/.*class
!META-INF/maven/org.apache.commons/commons-collections4/.*class
!org/apache/commons/collections4/.*class
!org/apache/commons/collections4/bag/.*class
!org/apache/commons/collections4/bidimap/.*class
!org/apache/commons/collections4/collection/.*class
!org/apache/commons/collections4/comparators/.*class
!org/apache/commons/collections4/functors/.*class
!org/apache/commons/collections4/iterators/.*class
!org/apache/commons/collections4/keyvalue/.*class
!org/apache/commons/collections4/list/.*class
!org/apache/commons/collections4/map/.*class
!org/apache/commons/collections4/multimap/.*class
!org/apache/commons/collections4/multiset/.*class
!org/apache/commons/collections4/queue/.*class
!org/apache/commons/collections4/sequence/.*class
!org/apache/commons/collections4/set/.*class
!org/apache/commons/collections4/splitmap/.*class
!org/apache/commons/collections4/trie/.*class
!org/apache/commons/collections4/trie/analyzer