<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/org.eclipse.epsilon.labs.workflow.cellsheet.jar">
      </extraClasspathEntry>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.epsilon.labs.workflow.tasks.cellsheet.LoadCellsheetModelTask"
            library="lib/org.eclipse.epsilon.labs.workflow.cellsheet.jar"
            name="epsilon.cellsheet.loadModel">
      </antTask>
   </extension>
</plugin>
